@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: rgba(255, 206, 206, 0.068);
}

#box {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 20px;
  background-color: rgb(172, 200, 252);
  border-radius: 30px;
  width: 420px;
}

#factorial {
  margin: 0;
  color: rgb(17, 17, 155);
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
}

#enterNumber {
  margin: 16px 0 4px 0;
  color: rgb(73, 73, 73);
}

::placeholder {
  font-size: 0.7em;
  color: blue;
  opacity: 0.1;
}

#result,
#definition,
input {
  color: blue;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0.4em;
}

#definition,
#details {
  color: rgb(115, 115, 139);
  font-size: 1em;
}

input {
  width: 90px;
  padding: 0.2em;
  border-radius: 0.2em;
  border-width: 0.05em;
  margin-right: 5px;
  outline: thin;
  border-color: rgb(248, 248, 248);
}

input:focus {
  border-color: black;
}

input:hover {
  background-color: rgb(250, 250, 250);
}

.button {
  font-size: 1.4em;
  width: 1.5em;
  border-radius: 0.2em;
  border-width: 0.05em;
  padding: 0px;
  margin: 1px;
  transition: opacity 0s;
}

#buttonCopy {
  font-size: 1em;
}

.button:active {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.7;
}

#error {
  padding: 5px;
  color: red;
  width: 100px;
}
